header {
    background-color: rgb(95, 175, 204);
    text-align: center;

}
h2 {
    background-color: rgb(49, 126, 150);
    text-align: center;
    font-family:  'Courier New', Courier, monospace;
    font-size: x-large;
}
    h3 {
    display: block;
    text-align: center;
    padding: 50px;
}

img{
    border-radius: 500px;
    border-style: dotted;
    border-color: rgb(242, 247, 177);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    background-color: rgb(48, 65, 80);
    margin: auto;
    width: 800px;
    border-style: groove;
    border-color: aqua;

}